@import "tailwindcss";

:root {
  --background: #FAFAF9;
  /* Canvas */
  --foreground: #1C1917;
  /* Ink */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-space-mono);
  --font-display: var(--font-press-start-2p);
}

body {
  background: var(--background);
  color: var(--foreground);
}